article {
  color: black;
  h1 {
    margin: 0 0 20px 0;
  }
  li {
    margin: 0 0 5px 0;
  }
  a {
    border-bottom: 2px solid transparent;
    &:hover {
      color: #333;
      border-bottom-color: #999;
    }
  }
}

.a-author {
  font-size: .9rem;
}

.a-time {
  font-size: .9rem;
  color: #999;
}

.a-content {
  background-color: white;
  position: relative;
  padding: 50px 40px;
}

.commentgroup {
  .comment {
    background: white;  
    padding: 40px 0 40px 40px;
    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .comment-body {
    float: left;
    width: 80%;
  }

  .comment-title {
    padding-top: 2rem;
  }

  .comment-avatar {
    float: left;
    width: 20%;
    padding-right: 40px;
    margin: 0 0 40px 0;
  }

  .comment-content {
    padding-right: 40px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
